@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">@TempData["InfoMessage"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Candidato</th>
            <th>Partido</th>
            <th>Posición</th>
            <th>Fecha de Voto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vote in Model)
        {
            <tr>
                <td>@vote.VoteId</td>
                <td>@vote.UserName</td>
                <td>@vote.UserEmail</td>
                <td>@vote.CandidateName</td>
                <td>@vote.CandidateParty</td>
                <td>@vote.CandidatePosition</td>
                <td>@vote.VoteDate</td>
                <td>
                    @*  <a href="@Url.Action("EditVote", new { voteId = vote.VoteId })" class="btn btn-warning">Editar</a> *@
                    <a href="@Url.Action("DeleteVote", new { voteId = vote.VoteId })" onclick="return confirm('Are you sure you want to remove it?')" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

  <script>
        // Obtener los datos desde ViewBag
        const voteData = @Html.Raw(ViewBag.VoteData);

        // Transformar datos en formato adecuado para Highcharts
        const chartData = voteData.map(vote => ({
            name: vote.CandidateName,
            y: vote.TotalVotes
        }));

        // Crear la gráfica con los datos de votaciones
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Votos por Candidato'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: 'Candidatos'
                }
            },
            yAxis: {
                title: {
                    text: 'Número de Votos'
                }
            },
            series: [
                {
                    name: 'Votos',
                    colorByPoint: true,
                    data: chartData
                }
            ]
        });
   </script>
}

<div id="container"></div>


